circle {
	stroke-width: 2px;
	stroke: black;
}

circle:hover {
	fill: white;
}

line {
	stroke-width: 1px;
	stroke: black;
}

.update-text {
	margin-top: 5em;
	padding-top: 2em;
}

.line-chart {
	margin-bottom: 5em;
	margin-top: 3em;
	float: left;
}

.graphsContainer {
	background-color: #eaeaea;
}

.graph {
	background-color: white;
}