@CHARSET "ISO-8859-1";

* {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	box-sizing: border-box;
}

body {
	position: relative;
	background-color: #eaeaea;
}

footer {
	font-style: italic;
	color: black;
	border-top: 3px solid black;
	margin-top: 5em;
}

header {
	background-color: #aec6b8;
	border-radius: 20px 20px 0% 0%;
}

nav {
	padding: 0.5em;
	background-color: #cdddd5;
}

nav a {
	display: block;
}

@media only screen and (min-width: 775px){
	nav a {
	display: inline;
	}
}

a {
	font-size: 1.5em;
	text-decoration: none;
	margin: 2em;
}

a:link {
	color: black;
}

a:visited {
	color: black;
}

a:hover {
    color: #1010c0;
}

a:active {
    color: #1010c0;
}

#content {
	background-color: white;
}

#simple-container {
	background-color: white;
	max-width: 1000px;
	min-width: 1000px;
	margin: auto;
	position: relative;
	border-radius: 20px;
}

#container {
	background-color: white;
	max-width: 1000px;
	min-width: 600px;
	margin: auto;
	position: relative;
	border-radius: 20px;
}

.block {
	border-top: 10px solid #eaeaea;
}

.erdos-renyi-data {
	display: none;
}

.watts-strogatz-data {
	display: none;
}

.smooth-replicator-element {
	display: none;
}

h1 {
	padding: 1.2em;
	color: black;
}

input[type="number"] {
	width: 5em;
	text-align: right;
	border-radius: 4px;
	border: 1px solid black;
	outline: none;
	font-weight: bold;
	margin-bottom: 1em;
	background-color: #eaeaea;
}

input[type="number"]:focus {
	border: 1px solid black;
	outline: none;
}

input[type="checkbox"] {
	border: 1px solid black;
	outline: none;
	margin-bottom: 1em;
	background-color: #eaeaea;
}

select {
	text-align: right;
	border-radius: 4px;
	border: 1px solid black;
	outline: none;
	font-weight: bold;
	margin-bottom: 1em;
	background-color: #eaeaea;
}

select:focus {
	border: 1px solid black;
	outline: none;
}

h3.block-title {
	font-weight: bold;
	color: #000b1e;
	margin-bottom: 2em;
}

.sim-datas-title {
	padding: 1em;
}

button {
	background-color: black;
    border: none;
    color: white;
    padding: 1em 2em;
    font-weight: bold;
    border-radius: 50%;
    outline: none;
    margin-top: 3em;
}

button:hover {
	color: black;
	background-color: grey;
	cursor: pointer;
}