<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 

<head>
	<title>Games on graphs</title>
	<link rel="stylesheet" type="text/css" href="rules.css">
	<link rel="stylesheet" type="text/css" href="graph-rules.css">
	<script src="lineChartHelper.js"></script>
</head>
<body>
<script src="https://d3js.org/d3.v5.min.js"></script>
	<div id="container">
		<div th:replace="fragments/header"></div>
		<div id="content">
		<h4 th:text="#{multi-sim-result-sum}"></h4>
		<div id="avgStats"></div>
		<div class="chartContainer" th:each="actualStats, iter : ${statisticsList}">
		<h4 th:text="|update: ${actualStats[0].name}|"></h4>
		<div th:id="|line-chart${iter.index}|"></div>
		</div>

			<script th:inline="javascript">
			
				/*<![CDATA[*/
	
				    const statisticsList = /*[[${statisticsList}]]*/ null;
					const numberOfUpdates = /*[[${numberOfUpdates}]]*/ null;
					const avgStatistics = /*[[${avgStats}]]*/ null;
					const colors = /*[[${colors}]]*/ null;
					const xText = /*[[#{diagram-chart.x-text}]]*/ "Number of updates";
					const cooperators = /*[[#{diagram-chart.cooperators}]]*/ "% of cooperators";
		
				/*]]>*/
				
				drawMultiLineChart("#avgStats", avgStatistics, numberOfUpdates, cooperators, xText, colors);
				
				let i = 0;
				statisticsList.forEach((stat) => {
					drawMultiLineChart("#line-chart" + i, stat, numberOfUpdates, cooperators, xText, colors)
					i++;
				})
			</script>
		</div>
		<div th:replace="fragments/footer"></div>
	</div>
</body>
</html>