<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 

<head>
	<title>Games on graphs</title>
	<link rel="stylesheet" type="text/css" href="rules.css">
	<script src="simulationDatasHelper.js"></script>
</head>
<body>
	<div id="container">
		<div th:replace="fragments/header"></div>
		<div id="content">
		<h2 th:text="#{sim-datas.title}" class="sim-datas-title"></h2>
		<form method="post" action="/simulation-results.html">
			<div class="block">
			<h3 class="block-title" th:text="#{block.matrix-datas}"></h3>
				<label 
					for="bothCooperators" 
					th:text="#{sim-datas.bothCooperators}">
				</label>
				<input 
					type="number" 
					name="bothCooperators" 
					step="1"
					value="9"
					min="0"
					required
				/>
				<br>
				<label 
					for="bothDefectors" 
					th:text="#{sim-datas.bothDefectors}">
				</label>
				<input 
					type="number" 
					name="bothDefectors" 
					step="1"
					value="5"
					min="0"
					required
				/>
				<br>
				<label 
					for="defectorPrize" 
					th:text="#{sim-datas.defectorPrize}">
				</label>
				<input 
					type="number" 
					name="defectorPrize" 
					step="1"
					value="10"
					min="0"
					required
				/>
				<br>
				<label 
					for="cooperatorPenalty" 
					th:text="#{sim-datas.cooperatorPenalty}">
				</label>
				<input 
					type="number" 
					name="cooperatorPenalty" 
					step="1"
					value="0"
					min="0"
					required
				/>
				<br>
			</div>
			<div class="block">
			<h3 class="block-title" th:text="#{block.graph-generate-datas}"></h3>
				<label 
					for="numberOfNodes" 
					th:text="#{sim-datas.numberOfNodes}">
				</label>
				<input 
					type="number" 
					name="numberOfNodes" 
					step="1" 
					min="2"
					value="20"
					required
				/>
				<br>
				<label 
					for="nodeChanceToStartAsCooperative" 
					th:text="#{sim-datas.nodeChanceToStartAsCooperative}">
				</label>
				<input 
					type="number" 
					name="nodeChanceToStartAsCooperative" 
					step="1" 
					min="0" 
					max="100"
					value="50" 
					required
				/>
				<br>
				<label 
					for="graphGenerator" 
					th:text="#{sim-datas.graphGenerator}">
				</label>
				<select name="graphGenerator" 
					required 
					id="graph-selector"
					onchange="graphGeneratorChanged(this.value)">
				  <option value="Barabasi-Albert">Barabasi-Albert</option>
				  <option value="Erdos-Renyi">Erdos-Renyi</option>
				  <option value="Watts-Strogatz">Watts-Strogatz</option>
				</select>
				<br>
				<label
					class="erdos-renyi-data" 
					for="edgeProbability" 
					th:text="#{sim-datas.edgeProbability}">
				</label>
				<input 
					class="erdos-renyi-data"
					type="number" 
					name="edgeProbability" 
					step="0.01" 
					min="0" 
					max="1"
					value="0.15" 
					required
				/>
				<label 
					class="barabasi-albert-data" 
					for="numberOfConnections" 
					th:text="#{sim-datas.numberOfConnections}">
				</label>
				<input 
					class="barabasi-albert-data" 
					type="number" 
					name="numberOfConnections" 
					step="1" 
					min="0" 
					value="3" 
					required
				/>
				<label 
					class="watts-strogatz-data" 
					for="wattsStrogatzK" 
					th:text="#{sim-datas.watts-strogatz-k}">
				</label>
				<input 
					class="watts-strogatz-data" 
					type="number" 
					name="wattsStrogatzK" 
					step="2" 
					min="2" 
					value="2" 
					required
				/>
				<br class="watts-strogatz-data" >
				<label
					class="watts-strogatz-data" 
					for="wattsStrogatzProbability" 
					th:text="#{sim-datas.watts-strogatz-probability}">
				</label>
				<input 
					class="watts-strogatz-data"
					type="number" 
					name="wattsStrogatzProbability" 
					step="0.01" 
					min="0" 
					max="1"
					value="0.15" 
					required
				/>
				<br>
			</div>
			<div class="block">
			<h3 class="block-title" th:text="#{block.simulation-datas}"></h3>
				<label 
					for="numberOfGamesForNodes" 
					th:text="#{sim-datas.numberOfGamesForNodes}">
				</label>
				<input 
					type="number" 
					name="numberOfGamesForNodes" 
					step="1" 
					min="1" 
					value="10"
					required
				/>
				<br>
				<label 
					for="numberOfUpdates" 
					th:text="#{sim-datas.numberOfUpdates}">
				</label>
				<input 
					type="number" 
					name="numberOfUpdates" 
					step="1" 
					min="1" 
					value="100"
					required
				/>
				<br>
				<label 
					for="drawGraphAfterThisNumberOfUpdates" 
					th:text="#{sim-datas.drawGraphAfterThisNumberOfUpdates}">
				</label>
				<input 
					type="number" 
					name="drawGraphAfterThisNumberOfUpdates" 
					step="1" 
					min="1" 
					value="10"
					required
				/>
				<br>
				<label 
					for="updateRule" 
					th:text="#{sim-datas.updateRule}">
				</label>
				<select name="updateRule" required onchange="updateRuleChanged(this.value)">
				  <option value="BestTakesOver">Best takes over</option>
				  <option value="Proportional">Proportional</option>
				  <option value="ReplicatorDynamics">Replicator dynamics</option>
				  <option value="SmoothReplicator">Smooth replicator</option>
				</select>
				<br>
				<label 
					class="smooth-replicator-element"
					for="k" 
					th:text="#{sim-datas.k}">
				</label>
				<input 
					class="smooth-replicator-element"
					type="number" 
					name="k" 
					step="1" 
					min="0" 
					value="10"
					required
				/>
				<br class="smooth-replicator-element">
				<button type="submit" th:text="#{sim-datas.button}"></button>
			</div>
		</form>
		</div>
		<div th:replace="fragments/footer"></div>
	</div>
</body>
</html>