<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 

<head>
	<title>Games on graphs</title>
	<link rel="stylesheet" type="text/css" href="rules.css">
	<link rel="stylesheet" type="text/css" href="graph-rules.css">
	<script src="lineChartHelper.js"></script>
	<script src="drawGraphHelper.js"></script>
</head>
<body>
<script src="https://d3js.org/d3.v5.min.js"></script>
	<div id="simple-container">
		<div th:replace="fragments/header"></div>
		<div id="content">
		<h3 th:text="#{sim-result.title}"></h3>
		
		<div class="line-chart" id="line-chart"></div>
		<div class="line-chart" id="line-chart2"></div>
		<div class="line-chart" id="line-chart3"></div>
		<h4 th:text="#{sim-result.graphs-title}"></h4>
			<script th:inline="javascript">
			
				/*<![CDATA[*/
	
				    const statistics = /*[[${statistics}]]*/ null;
					const numberOfUpdates = /*[[${numberOfUpdates}]]*/ null;
					const xText = /*[[#{diagram-chart.x-text}]]*/ "Number of updates";
					const cooperators = /*[[#{diagram-chart.cooperators}]]*/ "% of cooperators";
					const avgPoints = /*[[#{diagram-chart.avg-points}]]*/ "Avarage points of all nodes";
					const filteredAvgPoints = /*[[#{diagram-chart.filtered-avg-points}]]*/ "Avarage points of all nodes filtered by strategy";
		
				/*]]>*/
				
				statistics.avgPointsOfAllNodes[0] = statistics.avgPointsOfAllNodes[1];
				statistics.cooperatorsAvgPoints[0] = statistics.cooperatorsAvgPoints[1];
				statistics.defectorsAvgPoints[0] = statistics.defectorsAvgPoints[1];
				
				drawLineChart("#line-chart", statistics.percentOfCooperators, numberOfUpdates, 
						100, cooperators, xText, "steelblue");
				drawLineChart("#line-chart2", statistics.avgPointsOfAllNodes, numberOfUpdates, 
						statistics.maxPayoff, avgPoints, xText, "steelblue");
				drawLineChart("#line-chart3", statistics.defectorsAvgPoints, numberOfUpdates, 
						statistics.maxPayoff, filteredAvgPoints, xText, "red",
						"#00ff55", statistics.cooperatorsAvgPoints);
			</script>
		
		<div class="graphsContainer" th:each="actualUpdate : ${drawGraphAtTheseUpdates}">
		<h4 class="update-text" th:text="|Update: ${actualUpdate}|"></h4>
		<div th:id="|graph${actualUpdate}|" class="graph"></div>
		</div>
		<script th:inline="javascript">
			
			/*<![CDATA[*/

			    const graphs = /*[[${graphs}]]*/ null;
				const drawGraphAtTheseUpdates = /*[[${drawGraphAtTheseUpdates}]]*/ null;
	
			/*]]>*/
			"use strict";
			
			const r = 11;
			const width = 1000;
			const height = 650;
			
			const coordinates = [];
			for(let i = 0; i < graphs[0].nodes.length; i++) {
				const coords = {
					x: Math.floor((Math.random() * (width - ((2 * r))) + r)),
					y: Math.floor((Math.random() * (height - ((2 * r))) + r))
				}
				coordinates.push(coords);
			}
			
			for(let i = 0; i < drawGraphAtTheseUpdates.length; i++) {
				drawGraph("#graph" + drawGraphAtTheseUpdates[i], graphs[i], coordinates, width, height, r);
			}		
		</script>
		</div>
		<div th:replace="fragments/footer"></div>
	</div>
</body>
</html>